{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "pems",
            "Effect": "Allow",
            "Action": [
                "s3:*"
            ],
            "Resource": [
                "arn:aws:s3:::bpk-ha-rest-artifacts/*",
                "arn:aws:s3:::bpk-ha-rest-artifacts"
            ]
        }
    ]
}